# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Android
*.apk
*.aab
android/app/build/

# iOS
*.ipa
ios/Pods/
ios/build/

# TypeScript
*.tsbuildinfo
